meta(charset="UTF-8")
meta(content="IE=edge" http-equiv="x-ua-compatible")
meta(content="width=device-width, maximum-scale=1" name="viewport")
meta(content="telephone=no, email=no, address=no" name="format-detection")
title #{page.title}
link(rel="stylesheet", href=`${pathBase}${path.css}/main.css`)
link(rel="apple-touch-icon-precomposed" href=`${pathBase}${path.favicon}/apple-touch-icon-precomposed.png`)
link(rel="mask-icon" href=`${pathBase}${path.favicon}/favicon.svg` color="#00c5bb")
link(rel="icon" type="image/x-icon" href=`${pathBase}${path.favicon}/favicon.ico`)
script(src="https://cdnjs.cloudflare.com/ajax/libs/fabric.js/2.3.3/fabric.min.js" defer)
